# Storage
/libcef/browser/prefs/ @arkweb-storage
/libcef/browser/file_dialog_manager.cc @arkweb-storage
/libcef/browser/file_dialog_runner.cc @arkweb-storage
/libcef/browser/global_preference_manager_impl.cc @arkweb-storage
/libcef/browser/path_util_impl.cc @arkweb-storage
/libcef/common/cdm_host_file_path.cc @arkweb-storage
/libcef/common/file_util_impl.cc @arkweb-storage
/libcef/common/resource_util.cc @arkweb-storage

# Build
/bazel/ @ArkWeb_Build
/cmake/ @ArkWeb_Build
/libcef/features/ @ArkWeb_Build

# Multimedia
/cef/libcef/browser/media_router/ @arkweb-multimedia
/cef/libcef/browser/audio_capturer.cc @arkweb-multimedia
/cef/libcef/browser/audio_loopback_stream_creator.cc @arkweb-multimedia
/cef/libcef/browser/image_impl.cc @arkweb-multimedia
/cef/libcef/browser/media_access_query.cc @arkweb-multimedia
/cef/libcef/browser/media_stream_registrar.cc @arkweb-multimedia
/cef/ohos_cef_ext/libcef/browser/alloy/*media* @arkweb-multimedia

# DFX
/libcef/browser/hang_monitor.cc @arkweb-DFX
/libcef/browser/trace_impl.cc @arkweb-DFX
/libcef/browser/trace_subscriber.cc @arkweb-DFX
/libcef/common/base_impl.cc @arkweb-DFX
/libcef/common/cef_crash_report_upload_thread.cc @arkweb-DFX
/libcef/common/cef_crash_report_utils.cc @arkweb-DFX
/libcef/common/crash_reporter_client.cc @arkweb-DFX
/libcef/common/crash_reporting.cc @arkweb-DFX

# Compositor
/libcef/browser/gpu/ @arkweb-compositor
/libcef/browser/osr/ @arkweb-compositor

# peripherals
/libcef/browser/printing/ @arkweb-peripherals
/libcef/browser/geometry_util.cc @arkweb-peripherals
/libcef/browser/geometry_util_unittest.cc @arkweb-peripherals
/libcef/browser/print_settings_impl.cc @arkweb-peripherals

# CCS
/libcef/browser/devtools/ @arkweb-CCS
/libcef/browser/download_item_impl.cc @arkweb-CCS
/libcef/browser/download_manager_delegate_impl.cc @arkweb-CCS
/libcef/browser/download_manager_delegate.cc @arkweb-CCS
/libcef/browser/navigation_entry_impl.cc @arkweb-CCS
/libcef/browser/net_service/ @arkweb-CCS
/libcef/browser/net/ @arkweb-CCS
/libcef/browser/origin_whitelist_impl.cc @arkweb-CCS
/libcef/browser/scheme_impl.cc @arkweb-CCS
/libcef/browser/server_impl.cc @arkweb-CCS
/libcef/browser/ssl_info_impl.cc @arkweb-CCS
/libcef/browser/ssl_status_impl.cc @arkweb-CCS
/libcef/browser/stream_impl.cc @arkweb-CCS
/libcef/browser/x509_cert_principal_impl.cc @arkweb-CCS
/libcef/browser/x509_certificate_impl.cc @arkweb-CCS
/libcef/common/net_service/ @arkweb-CCS
/libcef/common/net/ @arkweb-CCS
/libcef/common/parser_impl.cc @arkweb-CCS
/libcef/common/request_impl.cc @arkweb-CCS
/libcef/common/response_impl.cc @arkweb-CCS
/libcef/common/scheme_registrar_impl.cc @arkweb-CCS
/libcef/common/urlrequest_impl.cc @arkweb-CCS
/libcef/resources/ @arkweb-CCS
/ohos_cef_ext/browser/adsblock_manager_impl.cc @arkweb-CCS
/ohos_cef_ext/browser/alloy/alloy_client_cert_identity.h @arkweb-CCS
/ohos_cef_ext/browser/alloy/alloy_client_cert_lookup_table.cc @arkweb-CCS
/ohos_cef_ext/browser/alloy/alloy_client_cert_lookup_table.h @arkweb-CCS
/ohos_cef_ext/browser/alloy/alloy_ssl_platform_key_ohos.h @arkweb-CCS
/ohos_cef_ext/browser/alloy/alloy_ssl_platform_key.h @arkweb-CCS
/ohos_cef_ext/browser/anti_tracking/ @arkweb-CCS
/ohos_cef_ext/browser/arkweb_context_ext.cc @arkweb-CCS
/ohos_cef_ext/browser/arkweb_download_manager_delegate_ext.cc @arkweb-CCS
/ohos_cef_ext/browser/arkweb_download_resume_util.cc @arkweb-CCS
/ohos_cef_ext/browser/arkweb_icon_helper_ext.cc @arkweb-CCS
/ohos_cef_ext/browser/arkweb_navigation_state_serializer_ext.cc @arkweb-CCS
/ohos_cef_ext/browser/arkweb_received_slice_helper_ext.cc @arkweb-CCS
/ohos_cef_ext/browser/cef_download_item_impl_ext.cc @arkweb-CCS
/ohos_cef_ext/browser/content_settings/ @arkweb-CCS
/ohos_cef_ext/browser/devtools/ @arkweb-CCS
/ohos_cef_ext/browser/javascript/ @arkweb-CCS
/ohos_cef_ext/browser/load_committed_details_impl.cc @arkweb-CCS
/ohos_cef_ext/browser/net_database/ @arkweb-CCS
/ohos_cef_ext/browser/net_service/ @arkweb-CCS
/ohos_cef_ext/browser/net/ @arkweb-CCS
/ohos_cef_ext/browser/ohos_safe_browsing/ @arkweb-CCS
/ohos_cef_ext/browser/policy/ @arkweb-CCS
/ohos_cef_ext/browser/predictors/ @arkweb-CCS
/ohos_cef_ext/browser/subresource_filter/ @arkweb-CCS
/ohos_cef_ext/common/net/ @arkweb-CCS
/ohos_cef_ext/libcef/browser/adblock/ @arkweb-CCS
/ohos_cef_ext/libcef/common/javascript/ @arkweb-CCS
/ohos_cef_ext/libcef/common/net/ @arkweb-CCS